################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DotNet/.vs
/DotNet/AspNetWebDemo/.vs/AspNetWebDemo
/DotNet/AspNetWebDemo/AspNetWebDemo/bin/Debug/net5.0
/DotNet/AspNetWebDemo/AspNetWebDemo/obj
/DotNet/AspNetWebDemo/AspNetWebDemoTests/bin/Debug/net5.0
/DotNet/AspNetWebDemo/AspNetWebDemoTests/obj
DotNet/Loki.txt
DotNet/CSharpVisualBasicDemo/.vs/CSharpVisualBasicDemo/v16/.suo
DotNet/CSharpVisualBasicDemo/.vs/CSharpVisualBasicDemo/v16/TestStore/0/000.testlog
DotNet/CSharpVisualBasicDemo/.vs/CSharpVisualBasicDemo/v16/TestStore/0/testlog.manifest
DotNet/Muuttujat/.vs/Muuttujat/DesignTimeBuild/.dtbcache.v2
DotNet/Muuttujat/.vs/Muuttujat/v16/.suo
DotNet/Muuttujat/.vs/Muuttujat/v16/TestStore/0/000.testlog
DotNet/Muuttujat/.vs/Muuttujat/v16/TestStore/0/testlog.manifest
DotNet/LokiinKirjoitus/.vs/LokiinKirjoitus/v16/.suo
DotNet/LokiinKirjoitus/.vs/LokiinKirjoitus/v16/TestStore/0/000.testlog
DotNet/LokiinKirjoitus/.vs/LokiinKirjoitus/v16/TestStore/0/testlog.manifest
