@{
    ViewData["Title"] = "Home Page";
}
@section scripts {
  <script>
      $(function () {
          $("#nappi1").click(function () {
              alert("Moi!");
          });
      });
  </script>
}

<div class="text-center">
    <h1 class="display-4">Moi ASP.NET!</h1>
    <p>Tervehdys Code Academystä!</p>

    <button class="btn btn-outline-info" id="nappi1">Klikkaa tästä</button>

</div>
